@font-face {
  font-family: 'quickSand';
  src: url(assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'quickSand';
  color: whitesmoke;
  background-color: rgb(30, 30, 30);
}

header {
  background-image: url(assets/images/darker-bg.png);
  background-size: cover;
  background-position: center right;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/*nav bar*/

section.nav-bar {
  position: absolute;
  background-color: rgb(20, 20, 30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div.nav-logo {
  display: flex;
  align-items: center;
}

div.nav-logo > img {
  height: 40px;
  padding: 15px;
}

div.nav-logo > p {
  font-size: 1.8em;
  margin-left: 10px;
}

div.nav-links > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.nav-links > ul > li {
  font-size: 1.2em;
  list-style: none;
  padding: 0px 10px;
}

div.nav-links > ul > li > a {
  text-decoration: none;
}

div.plans{
  font-size: 1.4em;
  background-color: rgb(30, 30, 60);
  padding: 10px 50px;
  margin: 0px 30px;
}

div.staff {
  position: absolute;
  right: 30px;
}

/*header-content*/

section.header-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.main-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62em;
  margin: auto;
  flex: 1;
  /*background-color: darkblue;*/
}

div.main-header-content > h1 {
  padding: 1em;
  margin-top: 2em;
  flex: 1;
}

div.main-header-content > div {
  color: white;
  font-size: 7em;
  padding: 0.2em;
  flex-shrink: 0;
}

section.sub-plate {
  background-image: linear-gradient(
    to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgb(30, 30, 40) 10%, rgb(30, 30, 40) 100%
    );
  width: 100%; 
  height: 10em;
  display: flex;
  justify-content: center;
} 

div.sub-header-content {
  width: 62em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: red;*/
}

div.prose {
  padding: 1.5em;
  /*background-color:cadetblue;*/
  padding: 0;
  width: 60%;
}

div.prose > h2 {
  font-size: 2em;
  padding: 0.3em;
}

div.prose > p {
  font-size: 1.2em;
  padding: 0.5em;
}

div.action {
  background-color: rgb(90, 90, 90);
  flex-shrink: 0;
  width: 30%;
  height: 40%;
  border: 0.05em solid white;
  border-radius: 0.5em;
  text-align: center;
  font-size: 2em;
}

div.action > a {
  color: whitesmoke;
  text-decoration: none;
}

/*main content*/

main {
  background-color: rgb(30, 30, 40);
}

section.info {
  background-color: rgb(30, 30, 70);
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.info-img > img {
  height: 30em;
  border-radius: 10px;
}

div.numbers {
  background-color: rgb(30, 30, 100);
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.numbers-sections {
  background-color: rgb(30, 30, 140);
  margin: 2em;
}

/*comments*/

section.slide {
  background-color: rgb(30, 40, 30);
  height: 80em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.comments-box {
  background-color: rgb(30, 70, 30);
  position: relative;
  width: 100%;
  height: 40em;
  overflow: hidden;
}

div.comment {
  background-color: rgb(6, 45, 45);
  position: absolute;
  width: 30em;
  height: 98%;
  text-align: center;
  border-radius: 1em;
  cursor: pointer;
  border: 1em solid black;
  left: calc(50% - 280px);
  transition:  0.5s;
}

div.comment > img {
  border-radius: 8em;
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  transform: translateX(-50%)
}

div.comment > h3 {
  padding-top: 50%;
  padding-bottom: 5%;
  font-size: 2em;
}

div.comment > h4 {
  font-size: 1.4em;
}

div.comment > p.stars {
  font-size: 2em;
}

div.comment > p.c {
  font-size: 1.2em;
  padding: 2em;
}

#next, #prev {
  position: absolute;
  top: 3.3em;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 6em;
  font-family: monospace;
  font-weight: bold;
  left: 4%;
  z-index: 2;
}

#next {
  left: unset;
  right: 4%;
}

/* companies  slider */

@keyframes slide-run {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--logo-width) * -1);
  }
}

.logo-container{
  background-color: rgb(0, 81, 81);
}

.logo-slider {
  background-color: cadetblue;
  width: 100%;
  height: var(--logo-height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 80%, transparent)
}

.company-logos {
  display: flex;
  width: 100%;
  min-width: calc(var(--logo-width) * var(--logo-quantity));
  position: relative;
}

.company-logos > .logo {
  height: var(--logo-height);
  width: var(--logo-width);
  position: absolute;
  left: 100%;
  animation: slide-run 10s linear infinite;
  animation-delay: calc((10s / var(--logo-quantity)) * (var(--logo-position) - 1) - 10s);
  transition: filter 0.5s;
}

.logo > img {
  width: 100%;
}

.company-logos:hover .logo {
  animation-play-state: paused!important;
  filter: grayscale(1)
}

.company-logos .logo:hover {
  filter: grayscale(0);
}

/* show-off */

.showoff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 46, 34);
  height: 80em;
}

.showoff-print {
  background-image: url('assets/images/prints/print01.jpg');
  background-size: cover;
  aspect-ratio: 16/9;
  width: 80%;
  max-width: 80em;
}

.showoff-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(135, 0, 0);
  width: 80%;
  max-width: 80em;
}

.showoff-select-image {
  background-color: aqua;
  aspect-ratio: 4/3;
  width: 15%;
  margin-top: 4%;
}

#print01 {
  background-image: url(assets/images/prints/print01.jpg);
  background-size: cover;
  cursor: pointer;
}

#print02 {
  background-image: url(assets/images/prints/print02.jpg);
  background-size: cover;
  cursor: pointer;
}

#print03 {
  background-image: url(assets/images/prints/print03.jpg);
  background-size: cover;
  cursor: pointer;
}

#print04 {
  background-image: url(assets/images/prints/print04.jpg);
  background-size: cover;
  cursor: pointer;
}

#print05 {
  background-image: url(assets/images/prints/print05.png);
  background-size: cover;
  cursor: pointer;
}

/* functionality */

section.functionality {
  background-color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.func-cards-container {
  background-color: #373434;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 1200px;
  margin: 2em;
}

.func-cards {
  background-color: rgb(110, 110, 110);
  height: 500px;
  width: 30%;
}

.func-icons-title {
  background-color: rgb(110, 110, 110);
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.func-icons-title h3 {
  padding: 1em;
  font-size: 1.5em;
}

.func-icons-container{
  background-color: #373434;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

.icon-container {
  background-color: rgb(88, 88, 70);
  display: flex;
  flex-direction: column;
  justify-content: apace-around;
  align-items: center;
}

.func-icon {

}

.func-icon > img {
  height: 150px;
}

.func-icon-text > p{
  font-size: 1.5em;
  padding: 1em;
}
/* clients */

section.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.clients-title > h2 {
  padding: 1em;
  font-size: 2em;
  margin-top: 3em;
}

.clients-container {
  background-color: rgb(48, 13, 81);
  width: 1200px;
  display: flex;
}

.clients-side-bar {
  background-color: rgb(97, 43, 149);
  width: 25%;
  min-width: 200px;
  padding: 5em 0;
}

.activity {
  background-color: rgb(49, 8, 87);
  margin: 1em;
  padding: 1em;
}

.clients-group {
  background-color: blueviolet;
  flex-grow: 1;
  padding: 1em;

}

.client-block-container {
  background-color: rgb(150, 102, 195);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.client-block {
  background-color: rgb(3, 3, 84);
  height: 250px;
}

.cli-active {
  background-color: blueviolet;
}

/* about-us */

section.about-us {
  background-color: rgb(39, 78, 78);
}

.about-us-title {
  background-color: rgb(14, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.about-us-title > p {
  font-size: 2em;
  padding: 1em;
}

.about-us-body {
  background-color: rgb(31, 94, 73);
  display: flex;
  align-items: center;
}

.about-us-img > img{
  height: 1200px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-text > p {
  font-size: 1.2em;
  padding: 1em;
}