@font-face {
  font-family: 'quickSand';
  src: url(assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-darker-01: rgb(10, 10, 20);
  --clr-darker-02: rgb(30, 30, 50);
  --clr-darker-03: rgb(50, 50, 70);
  --clr-main: rgb(0, 20, 150);
  --clr-complement: rgb(0, 150, 180);
  --clr-extra: rgb(10, 10, 50);
}

button {
  font-family: 'quickSand';
}

body {
  color: white;
  font-family: 'quickSand';
  color: whitesmoke;
  background-color: rgb(30, 30, 30);
}

header {
  background-image: url(assets/images/darker-bg.png);
  background-size: cover;
  background-position: center right;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/*nav bar*/

section.nav-bar {
  position: absolute;
  background: linear-gradient(135deg, rgba(30, 30, 150, 0.2), rgba(100, 100, 150, 0.1));
  backdrop-filter: blur(6px);
  border-bottom: 0.5px solid rgba(200, 200, 255, 0.3);
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 30, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

div.nav-logo > img {
  height: 50px;
  padding: 6px 15px;
  border-radius: 50%;
}

div.nav-logo > p {
  font-size: 1.8em;
  margin-left: 10px;
}

div.nav-links {
  flex-grow: 0.5;
}

div.nav-links > ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

div.nav-links > ul > a > li {
  font-size: 1.2em;
  list-style: none;
  padding: 10px 15px;
  margin-inline: 0.5em;
  border-radius: 0.6em;
  transition: 0.5s;
}

div.nav-links > ul > a > li:hover {
  background-color: rgba(5, 5, 70, 0.5);
  border: 1px rgba(200, 200, 255, 0.5) solid;
  font-size: 1.4em;
  color: rgb(200, 200, 255);
}

div.nav-links > ul > a {
  text-decoration: none;
  color: whitesmoke;
}

button.plans {
  font-size: 1.6em;
  border: none;
  outline: none;
  margin: 0px 40px;
  padding: 8px 40px;
  border-radius: 0.6em;
  z-index: 0;
  cursor: pointer;
  position: relative;
  transition: 0.4s ease-in-out;
  margin-right: 2%;
}

button.plans::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 80);
  left: 0;
  top: 0;
  border-radius: 0.6em;
}

button.plans::before {
  content: "";
  background: linear-gradient(45deg, rgb(0, 0, 255), rgb(0, 160, 200), rgb(10, 30, 110), #0000ff);
  position: absolute;
  top: -3px;
  left: -3px;
  background-size: 300%;
  z-index: -2;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  filter: blur(8px);
  animation: glowing 10s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 200% 0;}
  100% {background-position: 0 0;}
}

button.plans:hover::before {
  opacity: 1;
}

button.plans:hover:after {
  background: transparent;
}

button.plans:hover {
  padding: 8px 80px;
  font-weight: bold;
  margin-right: 0;
}

button.plans > a > p:hover {
  color: #61f4ff;
}

button.plans p {
  color: whitesmoke;
}

button.plans a {
  text-decoration: none;
}

div.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 2%;
  margin-left: 8%;
  border-radius: 20%;
  margin-block: 0;
}

div.staff img:hover {
  background-color: #0e0e46;
  border: 1px rgba(200, 200, 255, 0.5) solid;
  width: 50px;
}

div.staff img {
  color: transparent;
  width: 40px;
  padding: 0.1em;
  margin: 0;
  transition: 0.5s;
  border-radius: 1em;
}

/*header-content*/

section.header-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.main-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62em;
  margin: auto;
  flex: 1;
}

div.main-header-content > h1 {
  padding: 1em;
  margin-top: 2em;
  flex: 1;
}

div.main-header-content > div {
  color: white;
  font-size: 7em;
  padding: 0.2em;
  flex-shrink: 0;
}

section.sub-plate {
  background-image: linear-gradient(
    to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 12%, var(--clr-darker-02) 12%, var(--clr-darker-02) 100%
    );
  width: 100%; 
  display: flex;
  justify-content: center;
} 

div.sub-header-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-darker-02);
  padding-inline: 2em
}

div.prose {
  padding: 0;
  width: 60%;
}

div.prose > h2 {
  font-size: 2em;
  padding: 0.3em;
}

div.prose > p {
  font-size: 1.2em;
  padding: 0.5em;
}

a.action {
  position: relative;
  font-family: fantasy;
  font-weight: 600;
  font-size: 2em;
  text-shadow: 
  0 0 0.2em rgba(255, 255, 255, 0.1),
  0 0 0.4em rgb(10, 60, 180);
  ;
  box-shadow: 
  0 0 0.5em rgb(10, 60, 180),
  inset 0 0 0.5em rgb(10, 60, 180);
  color: rgb(10, 60, 180);
  border: 0.15em solid rgb(10, 60, 180);
  margin: 1.6em 0em;
  padding: 0.4em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.3em;
  transition: 0.3s;
}

a.action::after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 
  0 0 1.2em 0.4em rgb(10, 60, 180);
  opacity: 0;
  transition: opacity 0.2s linear;
}

a.action:hover::after {
  opacity: 1;
}

a.action:hover {
  background-color: rgb(10, 60, 180);
  color: var(--clr-darker-02);
}

/*main content*/

main {
  background-color: rgb(30, 30, 40);
}

section.info {
  background-image: linear-gradient(to bottom, var(--clr-darker-02), var(--clr-darker-01));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.info-img > img {
  width: 1300px;
  max-width: 90%;
  border-radius: 10px;
  border: 1.5em solid var(--clr-darker-02);
}

div.numbers {
  background-color: var(--clr-darker-02);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 12em;
  margin-right: 8%;
  border-radius: 10px;
}

div.numbers-sections {
  background-color: var(--clr-darker-03);
  margin: 1em;
  border-radius: 1em;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.numbers-sections > h3 {
  font-size: 2.5em;
  border-bottom: 1px solid white;
  width: 90%;
  text-align: center;
  padding: 0.2em;
  padding-bottom: 0.4em;
  margin-top: 0.5em;
}

div.numbers-sections p {
  font-size: 1.2em;
  padding: 1em;
  padding-top: 1.5em;
  text-align: center;
  margin-top: 0.4em;
}

/*handshake image*/

div.section-image {
  position: relative;
}

div.section-image img {
  width: 100%;
  box-shadow: 0 0 4em 1em rgb(10, 30, 120);
}

div.section-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

div.section-image-text > h2 {
  font-size: 5em;
}

/*comments*/

div.comments-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 1em;
}

div.comments-title {
  font-size: 3em;
}

section.slide {
  background-image: url(assets/images/comment-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-darker-01);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 130vh;
}

div.comments-box {
  position: relative;
  width: 100%;
  height: 45em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

div.comment {
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(45deg,rgba(0, 150, 255, 0.1),rgba(0, 30, 255, 0.1));
  position: absolute;
  width: 450px;
  height: 650px;
  text-align: center;
  border-radius: 1em;
  border: 0.1em solid rgb(30, 60, 120);
  left: calc(50% - 230px);
  transition:  0.5s;
}

div.comment > img {
  border-radius: 50%;
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.1em rgb(30, 60, 180) solid;
  box-shadow: 0 0 0.5em 0.2em rgb(0, 60, 120);
  cursor: pointer;
  transition: 0.3s;
}

div.comment > img:hover {
  height: 220px;
  box-shadow: 0 0 1em 0.6em rgb(0, 60, 120);
  border: 0.15em rgb(30, 60, 180) solid;
}

div.comment > h3 {
  padding-top: 55%;
  padding-bottom: 4%;
  font-size: 2em;
}

div.comment > h4 {
  font-size: 1.3em;
}

div.comment > p.stars {
  font-size: 2em;
}

div.comment > p.c {
  font-size: 1.2em;
  padding: 2em;
  padding-top: 1em;
}

#next, #prev {
  position: absolute;
  top: 3.3em;
  color: rgb(30, 90, 180);
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: .1em;
  border: none;
  font-size: 6em;
  font-family: monospace;
  font-weight: bold;
  left: 4%;
  z-index: 2;
  height: 100px;
  width: 50px;
  border: 0.02em rgb(30, 90, 180) solid;
  box-shadow: 0 0 0.2em rgb(30, 90, 180),
  inset 0 0 0.2em rgb(30, 90, 180);
  transition: 0.3s;
  text-shadow: 0 0 0.2em rgb(30, 90, 180);
  cursor: pointer;
}

#next {
  left: unset;
  right: 4%;
}

#next:hover, #prev:hover {
  background-color: rgba(30, 90, 180. 0.5);
  box-shadow: 0 0 0.6em 0.2em rgb(30, 90, 180);
  color: rgb(0, 180, 220);
}

/* companies  slider */

@keyframes slide-run {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--logo-width) * -1);
  }
}

.logo-container{
  background-color: black;
}

.logo-slider {
  background-color: var(--clr-darker-02);
  width: 100%;
  height: var(--logo-height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 20% 80%, transparent)
}

.company-logos {
  display: flex;
  width: 100%;
  min-width: calc(var(--logo-width) * var(--logo-quantity));
  position: relative;
}

.company-logos > .logo {
  height: var(--logo-height);
  width: var(--logo-width);
  position: absolute;
  left: 100%;
  animation: slide-run 15s linear infinite;
  animation-delay: calc((15s / var(--logo-quantity)) * (var(--logo-position) - 1) - 15s);
  transition: filter 0.5s;
}

.logo > img {
  width: var(--logo-width);
  height: var(--logo-height);
  border-radius: 0.5em
}

.company-logos:hover .logo {
  animation-play-state: paused!important;
  filter: grayscale(1)
}

.company-logos .logo:hover {
  filter: grayscale(0);
}

/* show-off */

.showoff {
  background-image: url(assets/images/comment-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-darker-01);
  height: 80em;
}

.showoff-print-container {
  background-image: url('assets/images/prints/print01.jpg');
  background-color: transparent;
  border: 2px solid rgb(71, 71, 148);
  
  padding: 3%;
  border-radius: 1em;
}

.showoff-print {
  background-image: url('assets/images/prints/print01.jpg');
  width: 80%;
  max-width: 80em;
  background-size: cover;
  aspect-ratio: 16/9;
  border-radius: 1em;
}

.showoff-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-darker-03);
  width: 80%;
  max-width: 80em;
  padding: 0.5em;
}

.showoff-select-image {
  background-color: aqua;
  aspect-ratio: 16/9;
  width: 18%;
  margin-top: 4%;
}

#print01 {
  background-image: url(assets/images/prints/print01.jpg);
  background-size: cover;
  cursor: pointer;
}

#print02 {
  background-image: url(assets/images/prints/print02.jpg);
  background-size: cover;
  cursor: pointer;
}

#print03 {
  background-image: url(assets/images/prints/print03.jpg);
  background-size: cover;
  cursor: pointer;
}

#print04 {
  background-image: url(assets/images/prints/print04.jpg);
  background-size: cover;
  cursor: pointer;
}

#print05 {
  background-image: url(assets/images/prints/print05.png);
  background-size: cover;
  cursor: pointer;
}

/* functionality */

#functionality-title {
  padding: 2em;
}

section.functionality {
  background-color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.func-cards-container {
  background-color: #373434;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 1200px;
  margin: 2em;
}

.func-cards {
  background-color: rgb(110, 110, 110);
  height: 500px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
}

.func-cards > .stars {
  font-size: 3em;
  letter-spacing: 3px;
  color: yellow;
  padding-top: 0.5em;
}

.func-cards > h3 {
  font-size: 2em;
  padding: 1em;
}

.funcs {
  width: 90%;
}

.funcs > p {
  font-size: 1.15em;
  padding-block: 0.4em;
}

.func-icons-title {
  background-color: rgb(110, 110, 110);
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.func-icons-title h3 {
  padding: 1em;
  font-size: 1.5em;
}

.func-icons-container{
  background-color: #373434;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

.icon-container {
  background-color: rgb(88, 88, 70);
  display: flex;
  flex-direction: column;
  justify-content: apace-around;
  align-items: center;
}

.func-icon {
  /*place something in here*/ 
}

.func-icon > img {
  height: 150px;
}

.func-icon-text > p{
  font-size: 1em;
  padding: 1em;
}

/* clients */

@keyframes activity-selection {
  from {
    width: 3%;
    color: white;
  }
  to {
    width: 120%;
    color: black;
  }
}

section.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-darker-01);
}

.clients-title > h2 {
  padding: 1em;
  font-size: 2em;
  margin-top: 3em;
}

.clients-container {
  width: 1250px;
  display: flex;
}

.clients-side-bar {
  background-color: var(--clr-darker-03);
  width: 25%;
  min-width: 200px;
  padding: 5em 0;
  border-radius: 0.8em 0 0 0.8em;
  box-shadow: 10px 0px 16px 0px rgba(0, 0, 10, 0.6);
  z-index: 1;
}

.activity {
  background-color: var(--clr-darker-02);
  margin: 1em;
  padding: 1em;
  padding-left: 1.5em;
  position: relative;
  border-radius: 0.3em;
}

.activity::before {
  content: "";
  background-color: rgb(60, 80, 120);
  width: 3%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  border-radius: 0.3em 0 0 0.3em;
}

.activity:hover::before {
  background-color: rgb(100, 120, 160);
  width: 4%;
}

.activity > p {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.cli-active::before {
  content: "";
  width: 3%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  animation: activity-selection 0.8s forwards;
  border-radius: 0.3em;
  background-color: rgb(100, 120, 160);
}

.cli-active > p {
  color: black;
  font-weight: 900;
}

.clients-group {
  background-color: var(--clr-darker-02);
  flex-grow: 1;
  padding: 2em;
  padding-left: 4em;
  padding-right: 2em;
  border-radius: 0 0.8em 0.8em 0;
}

.client-block-container {
  /*background-color: rgb(150, 102, 195);*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  transition: 1s;
}

.client-block {
  background-color: white;
  border-radius: 1em;
  border: 0.5em solid rgb(70, 80, 100);
  border-bottom: 0em;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.client-block > img {
  border-radius: 0.5em;
  max-width: 90%;
  max-height: 70%;
  margin-bottom: 3em;
}

.client-block-text {
  background-color: var(--clr-darker-03);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-block: 1em;
  display: flex;
  justify-content: center;
}

/* about-us */

section.about-us {
  background-color: rgb(39, 78, 78);
  padding-bottom: 20em;
  margin-top: 3em;
}

.about-us-title {
  background-color: rgb(14, 129, 129);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.about-us-title > p {
  font-size: 2em;
  padding: 1em;
}

.about-us-body {
  background-color: rgb(31, 94, 73);
  display: flex;
  align-items: center;
}

.about-us-img > img{
  height: 1200px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-text > p {
  font-size: 1.2em;
  padding: 1em;
}

/* footer - whatzap*/

footer {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
  align-items: center;
}

.what-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-link {
  background-image: linear-gradient(to right, rgb(0, 120, 80), rgb(0, 80, 80), rgb(0, 80, 120));
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  max-width: 90%;
  height: 200px;
  border-radius: 1em;
}

.what-link-icon > img {
  height: 180px;
  padding-inline: 2em;
  border-radius: 50%;
}

.what-link-main {
  /*background-color: rgb(0, 71, 0);*/
  flex-grow: 1;
}

.what-link-main > h3{
  font-size: 2.1em;
  padding: 0.5em;
}

.what-link-main > p {
  padding-inline: 2em;
  font-size: 1.2em;
}

.what-link-button {
  /*background-color: rgb(0, 59, 0);*/
  padding: 1em;
  padding-right: 3em;
}

.what-link-button > a > button {
  width: 350px;
  height: 70px;
  border-radius: 3em;
  border: none;
  font-size: 1.5em;
  color: white;
  border: 2px solid rgb(0, 140, 120);
  background-color: rgb(0, 40, 60);
}

/* contact us */

.contactus {
 width: 100%;
 background-image: linear-gradient(to bottom, rgb(30, 30, 60), rgb(0, 0, 10));
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.contactus-title {
  margin-top: 12em;
  align-items: left;
  /*background-color: #474444;*/
  width: 1400px;
  max-width: 90%;
  display: flex;
  align-items: center;
}

.contactus-title > h3 {
  padding: 1.5em 0.5em;
  font-size: 1.4em;
}

.contactus-title > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contactus-container {
  /*background-color: #474444;*/
  display: flex;
  justify-content: space-between;
  width: 1400px;
  max-width: 90%;
  margin-bottom: 3em;
}

.contactus-block {
  /*background-color: #746d6d;*/
  height: 200px;
  width: 200px;
}

.contactus-block > h4 {
  padding-block: 1.4em;
}

.contactus-block > p {
  padding-block: 0.3em;
}

/*copyright*/

.copyright {
  border-top: 1px solid var(--clr-darker-03);
  background-color: rgb(0, 0, 8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright > p {
  color: white;
  padding: 1.5em;
}

.copyright > button {
  color: rgb(0, 120, 160);
  padding: 1em;
  border-radius: 4em;
  border: 0.2em solid rgb(0, 120, 160);
  background-color: transparent;
}